.spades,.diamonds,.clubs,.hearts,.closed-card {
  background: url("../../../assets/cards-sprite.png");
  width: 169px;
  height: 244px;
  border-radius: 10px;
}
.spades {
  background-position-y: -729px;
}
.diamonds {
  background-position-y: -243px;
}
.clubs {}
.hearts {
  background-position-y: -486px;
}
.closed-card {
  background-position-x: -334px;
  background-position-y: -972px;
}
.value {
  &_2 {
    background-position-x: -166px;
  }
  &_3 {
    background-position-x: -334px;
  }
  &_4 {
    background-position-x: -502px;
  }
  &_5 {
    background-position-x: -669px;
  }
  &_6 {
    background-position-x: -837px;
  }
  &_7 {
    background-position-x: -1004px;
  }
  &_8 {
    background-position-x: -1172px;
  }
  &_9 {
    background-position-x: -1339px;
  }
  &_10 {
    background-position-x: -1507px;
  }
  &_J {
    background-position-x: -1674px;
  }
  &_Q {
    background-position-x: -1842px;
  }
  &_K {
    background-position-x: -2009px;
  }
  &_A {
    background-position-x: -2178px;
  }
}
