:host {
  position: relative;
  display: flex;
  height: 100%;
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
  overflow: auto;
}

.content {
  padding: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.result {
  position: absolute;
  display: flex;
  align-self: center;
  justify-content: center;
  width: 100%;
  top: 0;
  left: 0;

  .game-over {
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
    padding: 20px;
    width: 100%;
    justify-content: space-between;
    height: 70px;
    .message {
      text-align: center;
    }
  }
}

.player-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  .actions {
    margin-top: 4px;
    .btn {
      margin-left: 4px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}
