<div class="content">

  <div class="player-menu">
    <h3 class="name">Dealer: {{globalDealerScore}}</h3>
    <div class="score">Score: {{isDealerTurn || isGameOver ? dealerScore : '?'}}</div>
    <div class="cards">
      <ng-container *ngFor="let card of dealerCards; let first = first; let last = last;">
        <ng-container
          *ngIf="first"
          [ngTemplateOutlet]="cardComponent"
          [ngTemplateOutletContext]="{
          isOpened: isDealerTurn || isGameOver,
          card: card
        }"
        >
        </ng-container>
        <ng-container
          *ngIf="!first"
          [ngTemplateOutlet]="cardComponent"
          [ngTemplateOutletContext]="{
          isOpened: true,
          card: card
        }"
        >
        </ng-container>
      </ng-container>
    </div>
  </div>

  <div class="player-menu">
    <h3 class="name">User: {{globalPlayerScore}}</h3>
    <div class="score">Score: {{playerScore}}</div>
    <div class="cards">
      <ng-container
        *ngFor="let card of playerCards"
        [ngTemplateOutlet]="cardComponent"
        [ngTemplateOutletContext]="{
        isOpened: true,
        card: card
      }"
      >
      </ng-container>
    </div>
    <div class="actions">
      <button class="btn" [disabled]="isDealerTurn || isGameOver" (click)="hit()">Hit</button>
      <button class="btn" [disabled]="isDealerTurn || isGameOver" (click)="stand()">Stand</button>
      <button class="btn" (click)="startNewGame()">New Game</button>
    </div>
  </div>

</div>

<ng-template
  #cardComponent
  let-isOpened ="isOpened"
  let-card ="card"
>
  <app-card [card]="card" [isOpened]="isOpened"></app-card>
</ng-template>

<div class="result" *ngIf="isGameOver">

  <ng-container #userWon>
    <div class="game-over" *ngIf="(dealerScore > 21 || dealerScore < playerScore) && playerScore <= 21; else dealerWon">
      <h2 class="message">
        User won!!!
      </h2>
    </div>
  </ng-container>

  <ng-template #dealerWon>
    <div *ngIf="dealerScore !== playerScore; else draw" class="game-over">
      <h2 class="message">
        Dealer won!!!
      </h2>
    </div>
  </ng-template>

  <ng-template #draw>
    <div class="game-over">
      <h2 class="message">
        Draw!!!
      </h2>
    </div>
  </ng-template>

</div>
